@media only screen and (min-width: 1200px) {
  .containercustomsm {
    max-width: 1420px !important;
  }
}

@media only screen and (min-width: 1400px) {
  .containercustomsm {
    max-width: 1420px !important;
  }
}

@media (max-width: 768px) {
  .containercustomsm {
    max-width: 720px !important;
  }
}

@media (max-width: 576px) {
  .colextrasm {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
