table {
  border-spacing: 0;
  border: 1px solid black;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    white-space: pre-line;
    font-weight: 500 !important;

    :last-child {
      border-right: 0;
    }
  }
  th {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
  }
}
